h1{
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  background-color: royalblue;
  border: 5px dotted lightsteelblue;
  text-align: center;
  padding: 20px;
}
img{
  display: block;
  margin-left: auto; 
  margin-right: auto;
  /* how to center image: 
  display: block;
  margin-left: auto;
  margin-right: auto;*/
}
h2{
  text-align: center;
  color: black;
  border: outset;
  padding: 20px;
}
a{
  text-align: center;
  border: double;
  padding: 20px;
}
body{
  background-image: url(img/bg.png);
}